@using HCM.Models.ViewModels.Employees
@model HCM.Models.ViewModels.Employees.EmployeeTableModel



<div class="container-fluid m-5">

    <form id="myForm" class="flex" method="get" asp-controller="Employee" asp-action="All" asp-route-id="@Model.CurrentPage">
        <div class="row">
            <div class="col-md-2">
                <label><b>Search username</b></label>
                <input name="SearchEmployeeName" class="form-control bg-light border-0 small" />
            </div>

            <div class="col-md-2">
                <label for="genders"><b>Genders</b></label>
                <select class="form-control" id="genders" name="genderId"></select>
            </div>

            <div class="col-md-2">
                <label for="departments"><b>Departments</b></label>
                <select class="form-control" id="departments" name="departmentId"></select>
            </div>

            <div class="col-md-2">
                <label for="countries"><b>Country</b></label>
                <select class="form-control" id="countries" name="nationalityId"></select>
            </div>

            <div class="col-md-2">
                <label for="sort"><b>Sort by</b></label>
                <select class="form-control" id="sort" name="Sort"></select>
            </div>

            <button style="width:8%">Submit</button>
        </div>
    </form>

    <div class="card shadow mb-4 mt-5 me-5">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th class="col-2">Employee ID</th>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Department Name</th>
                        <th>Position Name</th>
                        <th>Seniority</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var employee in Model.Employees!)
                    {
                        <tr>
                            <td>@employee.EmployeeId</td>
                            <td>@employee.EmployeeUserName</td>
                            <td>@employee.EmployeeFirstName</td>
                            <td>@employee.EmployeeLastName</td>
                            <td>@employee.EmployeeAge</td>
                            <td>@employee.EmployeeDepartmentName</td>
                            <td>@employee.EmployeePositionName</td>
                            <td>@employee.EmployeeSeniority</td>
                            <td>
                                <div class="btn-group dropstart">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="@Url.Action("Edit", "Employee", new { id = employee.EmployeeId })">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                @{
                    int loopUntil = Model.CurrentPage + 3;

                    for (int i = Model.CurrentPage - 2; i < loopUntil; i++)
                    {
                        if (i <= 0 || i > Model.TotalPages)
                        {
                            continue;
                        }
                        <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                            <a asp-controller="Employee" asp-action="All" asp-route-id="@i" class="page-link">@i</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link">Next</a>
                </li>
            </ul>
        </nav>
    </div>


</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Options","Employee")",
                data: "{}",
                success: function (data) {

                    console.log(data);


                    var sDepartments = '<option value="-1">Please Select a Department</option>';
                    var departments = data.departments;
                    for (var i = 0; i < departments.length; i++) {
                        sDepartments += '<option value="' + departments[i].departmentId + '">' + departments[i].name + '</option>';
                    }
                    $("#departments").html(sDepartments);

                    // Populate Genders dropdown
                    var sGenders = '<option value="-1">Please Select a Gender</option>';
                    var genders = data.genders;
                    for (var i = 0; i < genders.length; i++) {
                        sGenders += '<option value="' + genders[i].id + '">' + genders[i].name + '</option>';
                    }
                    $("#genders").html(sGenders);

                    // Populate Counties dropdown
                    var sCounties = '<option value="-1">Please Select a County</option>';
                    var counties = data.counties;
                    for (var i = 0; i < counties.length; i++) {
                        sCounties += '<option value="' + counties[i].id + '">' + counties[i].name + '</option>';
                    }
                    $("#countries").html(sCounties);

                    // Populate Sort dropdown
                    var sSort = '<option value="-1">Please Select a Sort Option</option>';
                    var sortOptions = data.sort;
                    for (var i = 0; i < sortOptions.length; i++) {
                        sSort += '<option value="' + i + '">' + sortOptions[i] + '</option>';
                    }
                    $("#sort").html(sSort);
                },

                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });
    </script>
    }
