@using HCM.Models.ViewModels.Employees
@model HCM.Models.ViewModels.Employees.EmployeeTableModel



<div class="container-fluid m-5">

    <form id="myForm" class="flex" method="get" asp-controller="Employee" asp-action="All" asp-route-id="@Model.CurrentPage">
        <div class="row">
            <div class="col-md-2">
                <label><b>Search username</b></label>
                <input name="SearchEmployeeName" class="form-control" />
            </div>

            <div class="col-md-2">
                <label for="genders"><b>Genders</b></label>
                <select class="form-control" id="genders" name="genderId"></select>
            </div>

            <div class="col-md-2">
                <label for="departments"><b>Departments</b></label>
                <select class="form-control" id="departments" name="departmentId"></select>
            </div>

            <div class="col-md-2">
                <label for="countries"><b>Country</b></label>
                <select class="form-control" id="countries" name="nationalityId"></select>
            </div>

            <div class="col-md-2">
                <label for="sort"><b>Sort by</b></label>
                <select class="form-control" id="sort" name="Sort"></select>
            </div>

            <button style="width:8%">Submit</button>
        </div>
    </form>

    <h1>@Model.TotalPages</h1>
    <h1>Hello</h1>

    <div>
        <span>Create employee</span>
        <button>Create</button>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>

            @{
                int loopUntil = Model.CurrentPage + 3;

                for (int i = Model.CurrentPage - 2; i < loopUntil; i++)
                {
                    if (i <= 0 || i > Model.TotalPages)
                    {
                        continue;
                    }
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a asp-controller="Employee" asp-action="All" asp-route-id="@i" class="page-link">@i</a>
                    </li>
                }
            }
            <li class="page-item">
                <a class="page-link">Next</a>
            </li>
        </ul>
    </nav>
    <div class="table-responsive me-5">

        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="col-2">Employee ID</th>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Department Name</th>
                    <th>Position Name</th>
                    <th>Seniority</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model.Employees!)
                {
                    <tr>
                        <td>@employee.EmployeeId</td>
                        <td>@employee.EmployeeUserName</td>
                        <td>@employee.EmployeeFirstName</td>
                        <td>@employee.EmployeeLastName</td>
                        <td>@employee.EmployeeAge</td>
                        <td>@employee.EmployeeDepartmentName</td>
                        <td>@employee.EmployeePositionName</td>
                        <td>@employee.EmployeeSeniority</td>
                        <td>
                            <button
                                type="button"
                                class="btn btn-link btn-rounded btn-sm fw-bold"
                                data-mdb-ripple-color="dark"
                            >
                                Edit
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Options","Employee")",
                data: "{}",
                success: function (data) {

                    console.log(data);


                    var sDepartments = '<option value="-1">Please Select a Department</option>';
                    var departments = data.departments;
                    for (var i = 0; i < departments.length; i++) {
                        sDepartments += '<option value="' + departments[i].departmentId + '">' + departments[i].name + '</option>';
                    }
                    $("#departments").html(sDepartments);

                    // Populate Genders dropdown
                    var sGenders = '<option value="-1">Please Select a Gender</option>';
                    var genders = data.genders;
                    for (var i = 0; i < genders.length; i++) {
                        sGenders += '<option value="' + genders[i].id + '">' + genders[i].name + '</option>';
                    }
                    $("#genders").html(sGenders);

                    // Populate Counties dropdown
                    var sCounties = '<option value="-1">Please Select a County</option>';
                    var counties = data.counties;
                    for (var i = 0; i < counties.length; i++) {
                        sCounties += '<option value="' + counties[i].id + '">' + counties[i].name + '</option>';
                    }
                    $("#countries").html(sCounties);

                    // Populate Sort dropdown
                    var sSort = '<option value="-1">Please Select a Sort Option</option>';
                    var sortOptions = data.sort;
                    for (var i = 0; i < sortOptions.length; i++) {
                        sSort += '<option value="' + i + '">' + sortOptions[i] + '</option>';
                    }
                    $("#sort").html(sSort);
                },

                error: function (xhr, status, error) {
                    console.log("Error: " + error);
                }
            });
        });
    </script>
}
