@model HCM.Models.ViewModels.Departments.DepartmentDetailsViewModel

@{
    ViewData["Title"] = "Department Details";
}

<div class="container">
    <h1>Department Details</h1>
    <div class="row">
        <div class="card">
            <div class="card-header d-flex align-items-center border-bottom">
                <span class="avatar text-bg-primary avatar-lg fs-5">
                    @if (Model.DepartmentName.Length > 3)
                    {
                        @Model.DepartmentName.Substring(0,3)
                    }
                    else
                    {
                        @Model.DepartmentName
                    }
                </span>
                <div class="ms-3">
                    <h6 class="mb-0 fs-sm">@Model.DepartmentName</h6>
                    <span class="text-muted fs-sm">@Model.CountryName</span>
                </div>
                <button class="btn text-muted ms-auto" data-toggle="modal" data-target="#myModal" type="btn"><i class="fas fa-ellipsis-v"></i></button>
            </div>
            <div class="card-body">
                <h6><small>Id: </small>@Model.DepartmentId</h6>
                <h6><small>Average salary: </small>@Model.AverageSalary</h6>
                <h6><small>Employee count: </small>@Model.EmployeesCount</h6>
                <h6><small>Total positions:</small>@Model.EmployeeCapacity</h6>
                <h6></h6>
            </div>
        </div>

        <div class="row justify-content-center">
            <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                <div role="document" class="class=modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-5 border-0">
                            <div class="tabs" id="tab01">
                                <h6 class="text-muted">Positions</h6>
                            </div>
                            <div class="tabs active" id="tab02">
                                <h6 class="font-weight-bold">Knowledge Center</h6>
                            </div>
                            <div class="tabs" id="tab03">
                                <h6 class="text-muted">Add Employees</h6>
                            </div>
                            <div class="tabs" id="tab04">
                                <h6 class="text-muted">Edit</h6>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="modal-body p-0">
                            <fieldset id="tab011">
                                <div class="bg-light px-3">
                                    <h5 class="text-center mb-4 mt-0 pt-4">My Apps</h5>
                                    <ol class="list-group list-group-numbered">
                                        @foreach (var position in Model.PositionsInDepartment)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div>@position.PositionName</div>
                                                    <p class="mb-0 fs-6 text-muted">
                                                        <strong>Id: </strong>
                                                        <span>@position.PositionId</span>
                                                        <i class="fa-solid fa-trash me-3" style="position: absolute; right: 0; cursor: pointer;"></i>
                                                    </p>
                                                </div>
                                                <span class="badge bg-primary">@position.EmployeesWithPositionCount</span>
                                            </li>
                                        }
                                    </ol>
                                </div>
                                <div class="px-3">
                                    <h6 class="pt-3 pb-3 mb-4 border-bottom"><span class="fa fa-android"></span> Suggested Apps</h6>
                                    @foreach (var position in Model.AvailablePositionsCollection)
                                    {
                                        <div class="row">
                                            <div class="col-md-10">
                                                <h6 class="text-primary pb-2">
                                                    <a href="">@position.Name</a> <span class="text-secondary">- Available for @Model.DepartmentName</span>
                                                </h6>
                                            </div>
                                            <div class="col-md-2">
                                                <h6 class="text-primary pb-2">
                                                    <a class="add-icon" data-position-id="@position.Id" href="#">
                                                        <i class="fa-solid fa-plus pointer-event"></i>
                                                    </a>
                                                </h6>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                            <fieldset class="show" id="tab021">
                                <div class="bg-light">
                                    <h5 class="text-center mb-4 mt-0 pt-4">Knowledge Center</h5>
                                    <form>
                                        <div class="form-group pb-5 px-3">
                                            <select name="account" class="form-control">
                                                <option selected disabled>Select Product</option>
                                                <option>Product 1</option>
                                                <option>Product 2</option>
                                                <option>Product 3</option>
                                                <option>Product 4</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="px-3">
                                    <h6 class="pt-3 pb-3 mb-4 border-bottom"><span class="fa fa-star"></span> Popular Topics</h6>
                                    <h6 class="text-primary pb-2"><a href="#">Getting started with Blazemeter</a></h6>
                                    <h6 class="text-primary pb-2"><a href="#">Creating tests</a></h6>
                                    <h6 class="text-primary pb-4"><a href="#">Running tests</a></h6>
                                </div>
                            </fieldset>
                            <fieldset id="tab031">
                                <div class="bg-light align-content-center">
                                    <h5 class="text-center mb-4 mt-0 pt-4">Communities</h5>
                                    <form>
                                        <div class="custom-select">
                                            <input type="text" id="custom-select-input" placeholder="Select an option">
                                            <ul class="custom-select-options">
                                            </ul>
                                        </div>
                                        <div class="card shadow mb-4 mt-5">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary" id="employeeFullName"></h6>
                                            </div>
                                            <div class="card-body">
                                                <p id="employeeDetails"></p>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="px-3">
                                    <div class="border border-1 box">
                                        <h5>Community 1</h5>
                                        <p class="text-muted mb-1">Members : <strong>27</strong></p>
                                    </div>
                                    <div class="border border-1 box">
                                        <h5>Community 2</h5>
                                        <p class="text-muted mb-1">Members : <strong>16</strong></p>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset id="tab041">
                                <div class="bg-light">
                                    <h5 class="text-center mb-4 mt-0 pt-4">Education</h5>
                                    <form>
                                        <div class="form-group pb-2 px-3">
                                            <input type="text" placeholder="Enter College Name" class="form-control">
                                        </div>
                                        <div class="form-group row pb-2 px-3">
                                            <div class="col-6">
                                                <input type="text" placeholder="Percentage" class="form-control">
                                            </div>
                                            <div class="col-6">
                                                <input type="text" placeholder="Grade" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group px-3 pb-2">
                                            <label class="form-control-label"><h6>What are you good at ?</h6></label>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="option1" type="checkbox" value="">
                                                <label class="custom-control-label" for="option1">Web Development</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="option2" type="checkbox" value="">
                                                <label class="custom-control-label" for="option2">Data Structures & Algorithms</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="option3" type="checkbox" value="">
                                                <label class="custom-control-label" for="option3">Android Development</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="option4" type="checkbox" value="">
                                                <label class="custom-control-label" for="option4">Blockchain</label>
                                            </div>
                                            <div class="custom-control custom-checkbox">
                                                <input class="custom-control-input" id="option5" type="checkbox" value="">
                                                <label class="custom-control-label" for="option5">Machine Learning Algorithms</label>
                                            </div>
                                        </div>
                                        <div class="form-group pb-5 row justify-content-center">
                                            <button type="button" class="btn btn-primary px-3">Submit</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="px-3">
                                    <h6 class="pt-3 pb-3 mb-4 border-bottom"><span class="fa fa-rocket"></span> Trending Technologies</h6>
                                    <h6 class="text-primary pb-2"><a href="#">Augmented Reality and Virtual Reality</a></h6>
                                    <h6 class="text-primary pb-2"><a href="#">Angular and React</a></h6>
                                    <h6 class="text-primary pb-2"><a href="#">Big Data and Hadoop</a></h6>
                                    <h6 class="text-primary pb-4"><a href="#">Internet of Things (IoT)</a></h6>
                                </div>
                            </fieldset>
                        </div>
                        <div class="line"></div>
                        <div class="modal-footer d-flex flex-column justify-content-center border-0">
                            <p class="text-muted">Can't find what you're looking for?</p>
                            <button type="button" class="btn btn-primary">Contact Support Team</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <img src="@Model.DepartmentImageUrl" class="img-fluid" alt="Department Image">
        </div>
    </div>

    <h2>Department Employees</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Age</th>
                <th>Nationality</th>
                <th>Gender</th>
                <th>Position</th>
                <th>Seniority</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.DepartmentEmployees)
            {
                <tr>
                    <td>@employee.EmployeeFullName</td>
                    <td>@employee.EmployeeAge</td>
                    <td>@employee.EmployeeNationalityISO</td>
                    <td>@employee.EmployeeGender</td>
                    <td>@employee.EmployeePosition</td>
                    <td>@employee.EmployeeSeniority</td>
                    <td><button class="edit-button">Edit</button></td>
                    <td>
                        <button class="delete-button" data-id="@employee.EmployeeId">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>

    body {
        color: #000;
        overflow-x: hidden;
        height: 100%;
        background-color: #D1C4E9;
        background-repeat: no-repeat;
    }


    .custom-select {
        position: relative;
        display: inline-block;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    #custom-select-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .custom-select-options {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        border: 1px solid #ccc;
        border-top: none;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #fff;
        max-height: 150px;
        overflow-y: auto;
    }

        .custom-select-options li {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ccc;
        }

            .custom-select-options li:hover {
                background-color: #f0f0f0;
            }


    .card-body p {
        margin: 0;
        padding: 5px 0;
        font-size: 16px;
        color: #333;
    }

        .card-body p strong {
            font-weight: bold;
            margin-right: 10px;
        }

    fieldset {
        display: none;
    }

        fieldset.show {
            display: block;
        }

    select:focus, input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #2196F3 !important;
        outline-width: 0 !important;
        font-weight: 400;
    }

    button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        outline-width: 0;
    }

    .tabs {
        margin: 2px 5px 0px 5px;
        padding-bottom: 10px;
        cursor: pointer;
    }

        .tabs:hover, .tabs.active {
            border-bottom: 1px solid #2196F3;
        }

    a:hover {
        text-decoration: none;
        color: #1565C0;
    }

    .box {
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 10px;
    }

    .modal-backdrop {
        background-color: #64B5F6;
    }

    .line {
        background-color: #CFD8DC;
        height: 1px;
        width: 100%;
    }



    .modal.fade .modal-dialog {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .tabs h6 {
        font-size: 12px;
    }
</style>

@if (false)
{
    <script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

@section Scripts
    {

    <script type="text/javascript">

        const url = "https://localhost:7153/departments";
        var currentUrl = window.location.pathname;
        var departmentId = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
        const token = "Bearer " + localStorage.getItem("Authorization");


        function addOption(data) {
            let $customSelectList = $(".custom-select-options");
            let $li = $("<li>");
            var $card = $(".card-select");
            $li.attr("data-value", data.id);
            $li.text(data.fullName);

            $li.on("click", function () {
                let selectedValue = $(this).data("value");
                let selectedText = $(this).text();
                $("#custom-select-input").val(selectedText);

                // Append the details to the card without removing existing content
                $("#employeeFullName").text(data.fullName);
                $("#employeeDetails").html(
                    "<p><strong>ID:</strong> " + data.id + "</p>" +
                    "<p><strong>Name:</strong> " + data.fullName + "</p>" +
                    "<p><strong>Age:</strong> " + data.age + "</p>" +
                    "<p><strong>Account Created On:</strong> " + data.accountCreatedOn + "</p>" +
                    "<button id='addDepartment"+ "value='"+data.id+">Add to department</button>"
                );

                // Remove existing classes and add new ones
                $card.removeClass("old-class").addClass("new-class");
            });

            $customSelectList.append($li);
        }

        function AddToDepartment(){
            $("#addDepartment").click(function(e){
                e.preventDefault();

                .$ajax({
                    url:"",
                    type:"post",
                    headers:{"Authorization":token},
                    contentType: 'application/json',
                    success:function(data){

                    }
                })
            })
        }

        function SearchUsername(searchName) {
            var $customSelectList = $(".custom-select-options");
            $customSelectList.empty(); // Clear existing options

            $.ajax({
                url: "https://localhost:7153/employees/search?name=" + searchName,
                type: "GET",
                headers: { "Authorization": token },
                contentType: 'application/json',
                success: function (data) {
                    for (let i = 0; i < data.length; i++) {
                        addOption(data[i]);
                    }
                },
                error: function (xhr, status, error) {
                    Toastify({
                        text: error,
                        duration: 3000,
                        newWindow: true,
                        close: true,
                        gravity: "top",
                        position: "right",
                        stopOnFocus: true,
                        style: {
                            background: "linear-gradient(to right, #00b09b, #96c93d)",
                        },
                    }).showToast();
                }
            });
        }

        function AsyncSearch() {
            var typingTimer;
            var doneTypingInterval = 3000;
            var $input = $('#custom-select-input');

            $input.on('keyup', function () {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });

            $input.on('keydown', function () {
                clearTimeout(typingTimer);
            });

            function doneTyping() {
                SearchUsername($input.val()); // Use .val() to get the input value
            }
        }

        function ChangeEdit() {
            $(".edit-button").click(function () {
                let row = $(this).closest("tr");
                let positionCell = row.find("td:eq(4)");
                let seniorityCell = row.find("td:eq(5)");


                if ($(this).text() === "Edit") {
                    $(this).text("Save");

                    let currentPosition = positionCell.text();
                    let currentSeniority = seniorityCell.text();

                    let availablePositions = @Html.Raw(Json.Serialize(Model.AvailablePositionsCollection));

                    var positionDropdown = '<select>';
                    for (let i = 0; i < availablePositions.length; i++) {
                        let option = '<option value="' + availablePositions[i].id + '">' + availablePositions[i].name + '</option>';
                        if (availablePositions[i].name === currentPosition) {
                            option = option.replace('value="', 'value="' + currentPosition + '" selected="selected"');
                        }
                        positionDropdown += option;
                    }
                    positionDropdown += '</select>';

                    positionCell.html(positionDropdown);

                    var seniorityDropdown = '<select>';
                    seniorityDropdown += '</select>';

                    seniorityCell.html(seniorityDropdown);

                    positionCell.find('select').change(function () {
                        var selectedValue = $(this).val();
                        console.log("trigger");

                        $.ajax({
                            url: 'https://localhost:7153/departments/seniorities/' + selectedValue,
                            type: "GET",
                            headers: { "Authorization": token },
                            contentType: 'application/json',
                            success: function (data) {
                                console.log(data);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                // Handle errors here
                            }
                        });
                    });


                } else if ($(this).text() === "Save") {
                    $(this).text("Edit");

                    let selectedPositionId = positionCell.find("select").val();
                    let selectedPositionName = positionCell.find("select option:selected").text();
                    let selectedSeniority = seniorityCell.find("select").val();

                    positionCell.text(selectedPositionName);
                    seniorityCell.text(selectedSeniority);
                }
            });

        }

        function ChangeTabs() {
            $(".tabs").click(function () {

                $(".tabs").removeClass("active");
                $(".tabs h6").removeClass("font-weight-bold");
                $(".tabs h6").addClass("text-muted");
                $(this).children("h6").removeClass("text-muted");
                $(this).children("h6").addClass("font-weight-bold");
                $(this).addClass("active");

                current_fs = $(".active");

                next_fs = $(this).attr('id');
                next_fs = "#" + next_fs + "1";

                $("fieldset").removeClass("show");
                $(next_fs).addClass("show");

                current_fs.animate({}, {
                    step: function () {
                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({
                            'display': 'block'
                        });
                    }
                });
            });
        }

        function AddToDepartmentPositions() {
            $(".add-icon").on("click", function (e) {
                var currData = $(this).data();
                var positionId = $(this).data("position-id");

                $.ajax({
                    url: url + "/positions/add",
                    type: 'post',
                    data: JSON.stringify({ positionId: positionId, departmentId: departmentId }),
                    headers: { "Authorization": token },
                    contentType: 'application/json',
                    success: function (data) {
                        Toastify({
                            text: data,
                            duration: 3000,
                            newWindow: true,
                            close: true,
                            gravity: "top",
                            position: "right",
                            stopOnFocus: true,
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)",
                            },
                        }).showToast();
                        console.log(data);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        }

        function RemovePositionFromDepartment() {
            $(".fa-trash").on("click", function () {

                var positionId = $(this).closest("p").find("span").text();
                console.log(positionId);

                console.log({ positionId: positionId, departmentId });

                $.ajax({
                    url: url + "/positions/remove",
                    type: 'Delete',
                    data: JSON.stringify({ positionId: positionId, departmentId: departmentId }),
                    headers: { "Authorization": token },
                    contentType: 'application/json',
                    success: function (data) {
                        Toastify({
                            text: data,
                            duration: 3000,
                            newWindow: true,
                            close: true,
                            gravity: "top",
                            position: "right",
                            stopOnFocus: true,
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)",
                            },
                        }).showToast();
                        console.log(data);
                    },
                })

            });
        }

        function SelectChangeValues() {
            $("#custom-select-input").on("focus", function () {
                $(".custom-select-options").show();
            });

            $("#custom-select-input").on("input", function () {
                var searchTerm = $(this).val().toLowerCase();
                $(".custom-select-options li").each(function () {
                    if ($(this).text().toLowerCase().indexOf(searchTerm) > -1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

            $(".custom-select-options li").on("click", function () {
                var selectedValue = $(this).data("value");
                var selectedText = $(this).text();
                $("#custom-select-input").val(selectedText);
                $(".custom-select-options").hide();
            });
        }

        $(document).ready(function () {
            AsyncSearch();
            SearchUsername();
            SelectChangeValues();
            ChangeTabs();
            AddToDepartmentPositions();
            RemovePositionFromDepartment();
            ChangeEdit();
        });
    </script>

}
